<form (submit)="login(loginForm)" #loginForm="ngForm">
    <mat-form-field>
        <mat-label>userId</mat-label>
      <input matInput type="text"  ngModel name="userId" required #userId="ngModel">
      <mat-error *ngIf="userId.invalid">Please enter a valid userId</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>password</mat-label>

      <input matInput type="password" ngModel name="password" required #Password="ngModel">
      <mat-error *ngIf="Password.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>