mat-card{
    position: absolute;
    width: 84%;
    height: auto;
    top: 4%;
    left: 8%;
    margin: auto;
    padding: 0%;
    background: #F4976C;  
    border-radius: 25px;


}
mat-card-content{
    margin: 0%;
    padding: 0%;
    border-radius: 25px;
    background: #F4976C;  
}
mat-grid-list{
    border-radius: 25px;
background: #F4976C;    
margin: 0%;
}
.mat-grid-tile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.logo{
    display: flex;
    text-align: center;

flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFEBA8;
text-align: center;
font-family: Monoton;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.img-holder{
    display: flex;
    width: 100%; 
  height: auto;
  justify-content: flex-end;
}
.img-holder img{
   max-width: 100%; 
  max-height: 100%;
  width: auto;
  height: auto;
}

.form-card {
    display: flex;
    align-items: center;
    height: 94%;   
    background-color:#B4DFE5 ;
    border-radius: 0 25px 25px 0;
    justify-content: space-between;
    padding: 3% 0%;
}
mat-button-toggle-group{
    margin: 2%;
    width: 50%;
    border-radius: 25px;
    background: #F4976C;  
    align-items: center;
    justify-content: center;
}
mat-button-toggle{
    margin: 0%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
mat-button-toggle:first-child{
    border-radius: 25px 0 0 25px;
}
mat-button-toggle:last-child{
    border-radius: 0 25px 25px 0;
}
mat-button-toggle.mat-button-toggle-checked{
    background-color: #F4976C;
    color: #FFEBA8;
    box-shadow: 0px 3px 0px 0px #000000;
}
mat-button-toggle{
    background-color: #FFEBA8;
    color: #F4976C;
}